//===== VARIABLES =====
// Intro on/off
$intro-show: block; $home-show: none; // Show
//$intro-show: none; $home-show: block; // Hide
// Colors
$black: #000;
$white: #fff;
$light-gray: #999;
$lighter-gray: #dcdcdc;
$dark-gray: #333;
$background-gray: #252527;
// Fonts
$noto: 'Noto Sans', sans-serif;
$georgia: Georgia, Times, 'Times New Roman', serif;
$helvetica: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$open-sans: 'Open Sans', sans-serif;
$oswald: 'Oswald', sans-serif;
@font-face {
    font-family: "Gnuolane";
    src: url('fonts/gnuolane-webfont.woff') format('woff2'),
    	 url('fonts/gnuolane-webfont.woff') format('woff'),
         url('fonts/gnuolane_free.ttf') format('truetype');
}
$gnuolane: "Gnuolane", sans-serif;

// Media Queries
$break1100: "only screen and (max-width : 1100px)";
$break1000: "only screen and (max-width : 1000px)";
$break800: "only screen and (max-width : 800px)";
$break700: "only screen and (max-width : 700px)";
$break600: "only screen and (max-width : 600px)";
$break500: "only screen and (max-width : 500px)";
$break400: "only screen and (max-width : 400px)";

//===== MIXINS =====
// Font size
@mixin font-size($sizeValue: 1.6) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}
// Transitions
@mixin transition($transition) {
    -moz-transition: $transition;
        -webkit-transition: $transition;
            -o-transition: $transition;
                transition: $transition;
}
// Filter 
@mixin filter($filter) {
	-moz-filter: $filter;
	    -webkit-filter: $filter;
	        -o-filter: $filter;
	            filter: $filter;
}

//===== DEFAULT STYLES =====
body {
	font-family: $noto;
}
a {
	color: inherit;
	text-decoration: none;
	&:visited {color: inherit;}
}
//===== END DEFAULT STYLES =====

.intro-page {
	width: 100%;
	height: 100vh;
	background: $black;
	text-align: center;
	position: absolute;
	z-index: 5;
	display: $intro-show;
	.intro-page-text {
		margin: 0 auto;
		padding: 20% 50px 10px 50px;
		color: $white;
		@include font-size(2.8);
		line-height: 60px;
		display: none;
		@media #{$break600} {
			padding: 100px 30px;
			@include font-size(2);
			line-height: 40px;
		}
		br {
			@media #{$break600} {
				display: none;
			}
		}
	}
	.skip-intro {
		width: 100px;
		margin: 20px;
		padding: 10px;
		border: solid 2px $light-gray;
		color: $light-gray;
		@include font-size(0.8);
		float: right;
		&:hover {
			border: solid 2px $white;
			color: $white;
			cursor: pointer;
		}
	}
	#intro-underline {
		width: 0;
		margin: 10px auto;
		border-top: solid 4px $light-gray;
		@media #{$break600} {
			display: none;
		}
	}
}
#white-bg {
	width: 100%;
	height: 100vh;
	background: $white;
	display: $intro-show;
	text-align: center;
	position: absolute;
	z-index: 4;
	.black-intro-text {
		margin: 0 auto;
		padding: 22% 50px 10px 50px;
		color: $black;
		@include font-size(2.8);
		font-weight: 600;
		line-height: 60px;
		@media #{$break600} {
			padding: 100px 30px;
			@include font-size(2);
			line-height: 40px;
		}
	}
}
.menu-bar {
	width: 100%;
	height: 50px;
	background: $black;
	//background: rgba(0,0,0,0.9);
	border-bottom: solid 1px #222;
	text-align: center;
	position: fixed;
	top: 0;
	z-index: 3;
	.fa-bars {
		margin: 10px 3px 2px 15px;
		color: $lighter-gray;
		@include font-size(2);
		float: left;
		&:hover {
			color: $white;
			cursor: pointer;
		}
	}
	.menu-option {
		width: 15%;
		margin: 0 auto;
		margin-left: -5px;
		padding: 16px 0 14px 0;
		border-left: solid 1px #222;
		color: #666;
		font-family: $oswald;
		@include font-size(1.1);
		font-weight: 300;
		text-align: center;
		display: inline-block;
		vertical-align: top;
		@include transition(background .5s);
		@include transition(color .2s);
		@media #{$break1000} {display: none;}
		&:hover {
			//background: rgba(255,255,255,0.2);
			color: $white;
			cursor: pointer;
		}
		&:first-of-type {border-left: none;}
		span {@include transition(border .2s);}
		//&:hover span {border-bottom: solid 2px $white;}
	}
	.social-media-icons {
		margin-right: 20px;
		float: right;
		.social-media-icon {
			width: 35px;
			height: 35px;
			border-radius: 100%;
			margin: 8px 1px;
			background: #666;
			color: $black;
			text-align: center;
			display: inline-block;
			@include transition(color .2s);
			&:hover {
				color: $white;
				cursor: pointer;
			}
			.fa-facebook {
				margin: 8px 0 0 3px;
				@include font-size(1.8);
			}
			.fa-twitter {
				margin: 6px 0 0 3px;
				@include font-size(1.6);
			}
		}
		.facebook,
		.twitter {@include transition(background .2s);}
		.facebook:hover {
			background: #45619D;
		}
		.twitter:hover {
			background: #20B8FF;
		}
	}
}

.side-menu {
	height: 100vh;
	padding: 50px 0;
	margin-left: -500px;
	background: $black;
	position: fixed;
	z-index: 3;
	.fa-times {
		color: #777;
		@include font-size(2);
		position: absolute;
		top: 10px;
		right: 10px;
		&:hover {
			color: $white;
			cursor: pointer;
		}
	}
	.side-menu-option {
		padding: 20px 30px;
		border-bottom: solid 1px #222;
		color: #777;
		@include font-size(1.4);
		&:hover {
			color: $white;
			cursor: pointer;
		}
	}
}

//Version I home page
.page-wrapper {
	background: $background-gray;
	position: relative;
	z-index: 2;
}
.homepage {
	max-width: 1000px;
	margin: 0 auto;
	padding: 30px 0 100px 0;
	text-align: center;
	display: $home-show;
	.project-title-wrapper {
		width: 800px;
		margin: 0 auto 60px auto;
		@media #{$break800} {width: auto;}
		.project-title {
			margin: 80px 0 20px 0;
			color: $white;
			font-family: $oswald;
			@include font-size(4);
			letter-spacing: 3px;
			@media #{$break400} {
				margin: 50px 0 20px 0;
				@include font-size(3);
			}
		}
		.project-description {
			padding: 0 30px;
			color: #cccccc;
			@include font-size(1.1);
			line-height: 25px;
		}
	}
	.content {
		width: 300px;
		height: 280px;
		margin: 5px auto;
		margin-left: 3px;
		margin-right: 3px;
		//padding: 10px;
		background: $white;
		text-align: left;
		overflow: hidden;
		display: inline-block;
		position: relative;
		.article-thumbnail {
			width: 100%;
			height: 150px;
			margin: 0 0 0 0;
			background: #666;
			color: $lighter-gray;
			text-align: center;
			line-height: 150px;
		}
		.thumb-one {
			background: url(https://dosomething-a.akamaihd.net/sites/default/files/styles/550x300/public/images/Human%20Trafficking.jpg?itok=CQuGyej5) no-repeat center center;
			background-size: cover;
		}
		.thumb-two {
			background: url(http://www.kualalumpurpost.net/wp-content/uploads/2013/04/human_trafficking.jpg) no-repeat center center;
			background-size: cover;
		}
		.thumb-three {
			background: url(http://publications.europeintheworld.com/wp-content/uploads/2013/10/human-trafficking.jpg) no-repeat center center;
			background-size: cover;
		}
		.thumb-four {
			background: url(http://curacaochronicle.com/wp-content/uploads/2012/11/Press-TV.jpg) no-repeat center center;
			background-size: cover;
		}
		.thumb-five {
			background: url(http://gdb.rferl.org/912FA377-D50B-4190-A76B-481F247F21B5_w640_r1_s_cx0_cy9_cw0.jpg) no-repeat center center;
			background-size: cover;
		}
		.thumb-six {
			background: url(http://internationalpoliticalforum.com/wp-content/uploads/2013/12/2048873899_1365622940.jpg) no-repeat center center;
			background-size: cover;
		}
		.thumb-seven {
			background: url(http://one-europe.info/user/files/Andreea%20Anastasiu/dreamstime_m_32349546.jpg) no-repeat center center;
			background-size: cover;
		}
		.thumb-eight {
			background: url(http://flarenetwork.org/media/thumbs/resize/290x290/images/learn/learn_20091222_sweden_humantrafficking.jpg) no-repeat center center;
			background-size: cover;
		}
		.thumb-nine {
			background: url(http://www.worldnewstomorrow.com/wp-content/uploads/2012/05/london_human_trafficking-300x222.png) no-repeat center center;
			background-size: cover;
		}
		.thumb-ten {
			background: url(http://www.fbi.gov/news/stories/2015/january/human-trafficking-ring-dismantled/image/stop-human-trafficking-graphic) no-repeat center center;
			background-size: cover;
		}
		.thumb-eleven {
			background: url(http://www.zephoria.org/images/blog/2011/12/GirlPain.jpg) no-repeat center center;
			background-size: cover;
		}
		.thumb-twelve {
			background: url(http://thephilanews.s3.amazonaws.com/wp-content/uploads/2011/10/Human-Trafficking-Legislation-Approved-By-Senate-Committee.jpg) no-repeat center center;
			background-size: cover;
		}
		.article-title {
			padding: 5px 10px 0 10px;
			font-family: $oswald;
			@include font-size(2);
		}
		.article-byline {
			margin: 3px 0 10px 0;
			padding: 0 10px;
			color: #333;
			@include font-size(0.9);
			font-style: italic;
		}
		.article-summary {
			padding: 0 10px;
			color: #555;
			@include font-size(0.9);
		}
		.article-social-media-icons {
			position: absolute;
			left: 10px;
			bottom: 8px;
			display: none;
			.article-social-media-icon {
				width: 30px;
				height: 30px;
				margin: 7px 0 0 0;
				border-radius: 100%;
				color: $white;
				@include font-size(1.5);
				overflow: hidden;
				display: inline-block;
				@include transition(filter 0.2);
				&:hover {
					@include filter(brightness 1.5)	;
				}
				.fa-facebook {
					margin: 7px 0 0 11px;
				}
				.fa-twitter {
					margin: 3px 5px;
				}
			}
			.facebook {
				background: #45619D;
			}
			.twitter {
				background: #20B8FF;
			}
		}
	}
	.larger-content {
		width: 610px;
		@media #{$break700} {
			width: 300px;
		}
		.article-thumbnail {
			width: 380px;
			height: 280px;
			margin: 0 10px 10px 0;
			line-height: 280px;
			float: left;
			@media #{$break700} {
				width: 100%;
				height: 150px;
				margin: 0 0 5px 0;
				line-height: 150px;
				float: none;
			}
		}
		.article-text {
			margin: 10px 0 0 0;
			position: relative;
			@media #{$break700} {
				height: 120px;
				margin: 0;
				overflow: hidden;
			}
			.article-title {
				@include font-size(2.5);
				@media #{$break700} {
					@include font-size(2);
				}
			}
		}
	}
}

// Version I article page
.article-page-wrapper {
	margin-top: -30px;
	background: $background-gray;
	.article-page {
		padding: 120px 35px;
		width: 930px;
		margin: 0 auto;
		background: $white;
		@media #{$break1100} {
			width: auto;
			//padding: 0;
		}
		.article-image {
			width: 100%;
			height: 400px;
			margin: 30px auto;
			border-bottom: solid 1px #dcdcdc;
			@include font-size(2.5);
			text-align: center;
			line-height: 400px;
			@media #{$break600} {
				height: 200px;
				line-height: 180px;
				@include font-size(1.5);
			}
		}
		.article-date {
			margin: 0 0 5px 0;
			color: #333;
			@include font-size(0.8);
		}
		.article-title {
			font-family: $oswald;
			@include font-size(3.2);
			font-weight: 600;
		}
		.article-byline {
			margin: 8px 0 0 0;
			color: #333;
			font-family: $helvetica;
			@include font-size(1.1);
			font-weight: 300;
			font-style: italic;
		}
		.social-media-icons {
			margin: 3px 0 0 0;
			padding-bottom: 20px;
			border-bottom: solid 1px #dcdcdc;
			.social-media-icon {
				width: 25px;
				height: 25px;
				border-radius: 100%;
				margin: 5px 0 0 0;
				color: $white;
				text-align: center;
				display: inline-block;
				&:hover {cursor: pointer}
				.fa-facebook {
					margin: 5px 0 0 3px;
					@include font-size(1.3);
				}
				.fa-twitter {
					margin: 3px 0 0 2px;
					@include font-size(1.3);
				}
			}
			.facebook {
				background: #45619D;
			}
			.twitter {
				background: #20B8FF;
			}
		}
		.article-content p {
			margin: 0 35px 20px 35px;
			font-family: $georgia;
			line-height: 25px;
			@media #{$break600} {
				margin: 0 0 20px 0;
			}
		}
	}
}

// ABOUT PAGE
.about-page {
	max-width: 800px;
	margin: 30px auto 0 auto;
	padding: 30px 100px;
	background: $white;
	text-align: left;
	@media #{$break600} {
		margin: 10px auto 0 auto;
		padding: 10px 30px;
	}
	@media #{$break400} {padding: 0 30px;}
	.about-title {
		padding: 80px 0 30px 0;
		font-family: $oswald;
		@include font-size(3);
		font-weight: bold;
	}
	.about-description {
		color: #333;
		@include font-size(1.1);
		line-height: 25px;
		p {
			margin: 0 0 20px 0;
		}
	}
	.author-label {
			margin: 80px 0 10px 0;
			font-family: $oswald;
			@include font-size(2.5);
			font-weight: bold;
			text-align: center;
		}
	.author-wrapper {
		padding: 30px 0 20px 0;
		border-bottom: solid 1px #dcdcdc;
		&:last-of-type {
			border: none;
		}
		.author-headshot {
			width: 150px;
			height: 150px;
			margin-right: 30px;
			//border-radius: 100%;
			background: url(http://comicsstudies.pbworks.com/f/1327259927/generic_avatar_300.gif) no-repeat center center;
			background-size: cover;
			border: solid 3px #333;
			float: left;
			@media #{$break400} {
				margin: 0 auto 10px auto;
				float: none;
			}
		}
		.author-name {
			font-family: $oswald;
			@include font-size(1.7);
			font-weight: bold;
			@media #{$break400} {
				text-align: center;
			}
		}
		.author-bio {
			margin: 10px 0;
			color: #333;
			line-height: 21px;
		}
		.author-stories {
			margin: 50px 0 0 0;
			.author-stories-label {
				margin: 0 0 15px 0;
				font-family: $oswald;
				@include font-size(1.2);
				font-weight: bold;
			}
			.author-stories-headline {
				font-family: $oswald;
				@include font-size(1.2);
				font-weight: bold;
			}
			.author-stories-summary {
				span {
					font-family: $oswald;
					font-weight: bold;
				}
				line-height: 22px;
			}
		}
	}
}

// GRAPHIC PAGE
.graphic-wrapper {
	max-width: 800px;
	padding: 100px;
	margin: 0 auto;
	background: $white;
	@media #{$break800} {
		padding: 80px 30px;
	}
	.graphic-title {
		font-family: $oswald;
		@include font-size(3);
		font-weight: bold;
		text-align: center;
	}
	.graphic {
		width: 100%;
		height: 600px;
		margin: 30px auto 0 auto;
		background: url(http://www.shaneingles.com/imgs/graphicdesignimage.png) no-repeat center center;
		background-size: cover;
		border: solid 3px #333;
		@media #{$break800} {height: 400px;}
		@media #{$break400} {height: 250px;}
	}
	.graphic-caption {
		margin: 5px 0 30px 0;
		color: #666;
		@include font-size(0.8);
		font-style: italic;
	}
	.social-media-icons {
		margin: 3px 0 0 0;
		padding-bottom: 10px;
		.social-media-icon {
			width: 25px;
			height: 25px;
			border-radius: 100%;
			margin: 5px 0 0 0;
			color: $white;
			text-align: center;
			display: inline-block;
			&:hover {cursor: pointer}
			.fa-facebook {
				margin: 5px 0 0 3px;
				@include font-size(1.3);
			}
			.fa-twitter {
				margin: 3px 0 0 2px;
				@include font-size(1.3);
			}
		}
		.facebook {
			background: #45619D;
		}
		.twitter {
			background: #20B8FF;
		}
	}
	.graphic-description {
		p {
			margin: 0 0 20px 0;
			font-family: $georgia;
			line-height: 25px;		
		}
	}
}

.footer {
	padding: 30px;
	background: $black;
	text-align: center;
	img {
		width: 320px;
		@media #{$break400} {
			width: 250px;
		}
	}
	.copyright {
		margin: 20px 100px;
		color: $lighter-gray;
		@include font-size(1);
		text-align: center;
		display: inline-block;
		vertical-align: baseline;
	}
}